.ui-block-rows {
  margin-bottom: 20px;
  > .header {
    border-top: 1px solid #eee;
    padding: 10px;
    color: #777;
    font-weight: 600;
  }
  > .row {
    padding: 10px;
    border-top: 1px solid #eee;
    &.has-action {
      cursor: pointer;
    }
    &:last-child {
      border-bottom: 1px solid #eee;
    }
  }
}
