@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700&subset=latin-ext');

$font-family: 'Source Code Pro', monospace;
$font-size: 13px;

body {
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: $font-family;
  font-size: 13px;
  margin: 0;
}
