{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    {{model.title}}
  {{/rows.header}}

  {{#rows.row}}
    <label>Title</label>
    {{input value=model.title}}
  {{/rows.row}}

  {{#rows.row}}
    <button {{action 'save'}}>Save</button>
    <button {{action 'cancel'}}>Cancel</button>
  {{/rows.row}}

{{/ui-block/rows}}
